/.gradle/4.6/fileContent/annotation-processors.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/4.6/javaCompile/classAnalysis.bin
/.gradle/4.6/fileContent/fileContent.lock
/.gradle/4.6/fileHashes/fileHashes.bin
/.gradle/4.6/fileHashes/fileHashes.lock
/.gradle/vcsWorkingDirs/gc.properties
/.gradle/4.6/javaCompile/jarAnalysis.bin
/.gradle/4.6/javaCompile/javaCompile.lock
/.gradle/4.6/fileChanges/last-build.bin
/local.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/4.6/fileHashes/resourceHashesCache.bin
/.gradle/4.6/javaCompile/taskHistory.bin
/.gradle/4.6/taskHistory/taskHistory.bin
/.gradle/4.6/taskHistory/taskHistory.lock
/.gradle/4.6/javaCompile/taskJars.bin
