# Default ignored files
/shelf/
/workspace.xml
/sonarlint/issuestore/0/d/0d481bcdbb1266e14ece74931096abb949e58bad
/sonarlint/issuestore/8/c/8c496b31ef583120465eeb6c837403999f81e197
/sonarlint/issuestore/3/8/38a387d1591b3d74c4f445412bcc150a565f33f8
/sonarlint/issuestore/0/4/049cfa5f08eb8ea372e840c991b601ebd8901c96
/sonarlint/issuestore/5/9/596d3047f0672639d99289eaba2925ab6b4aae16
/sonarlint/issuestore/6/9/69841627d03c7aba06ed5b81194cdeed83e6292c
/sonarlint/issuestore/a/b/ab81e9d3f054f298af2e2fc3e7149e1fa9d6783b
/../.gradle/4.6/fileContent/annotation-processors.bin
/sonarlint/issuestore/b/1/b1873dfff9aa2ab50bd5c85a3a0fe190eae9e543
/sonarlint/issuestore/b/3/b3301ed0c795756eb6a4778b96a38445a38ed85b
/modules/app/BaseApp.app.iml
/modules/BaseApp.iml
/caches/build_file_checksums.ser
/../.gradle/buildOutputCleanup/buildOutputCleanup.lock
/../.gradle/buildOutputCleanup/cache.properties
/../.gradle/4.6/javaCompile/classAnalysis.bin
/compiler.xml
/../.gradle/4.6/fileContent/fileContent.lock
/../.gradle/4.6/fileHashes/fileHashes.bin
/../.gradle/4.6/fileHashes/fileHashes.lock
/../.gradle/vcsWorkingDirs/gc.properties
/gradle.xml
/libraries/Gradle__android_arch_core_common_1_1_1.xml
/libraries/Gradle__android_arch_core_runtime_1_1_1_aar.xml
/libraries/Gradle__android_arch_lifecycle_common_1_1_1.xml
/libraries/Gradle__android_arch_lifecycle_livedata_1_1_1_aar.xml
/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_1_aar.xml
/libraries/Gradle__android_arch_lifecycle_runtime_1_1_1_aar.xml
/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_1_aar.xml
/libraries/Gradle__com_akexorcist_localizationactivity_1_1_2_aar.xml
/libraries/Gradle__com_android_support_animated_vector_drawable_28_0_0_aar.xml
/libraries/Gradle__com_android_support_appcompat_v7_28_0_0_aar.xml
/libraries/Gradle__com_android_support_asynclayoutinflater_28_0_0_aar.xml
/libraries/Gradle__com_android_support_cardview_v7_28_0_0_aar.xml
/libraries/Gradle__com_android_support_collections_28_0_0.xml
/libraries/Gradle__com_android_support_coordinatorlayout_28_0_0_aar.xml
/libraries/Gradle__com_android_support_cursoradapter_28_0_0_aar.xml
/libraries/Gradle__com_android_support_customview_28_0_0_aar.xml
/libraries/Gradle__com_android_support_design_28_0_0_aar.xml
/libraries/Gradle__com_android_support_documentfile_28_0_0_aar.xml
/libraries/Gradle__com_android_support_drawerlayout_28_0_0_aar.xml
/libraries/Gradle__com_android_support_interpolator_28_0_0_aar.xml
/libraries/Gradle__com_android_support_loader_28_0_0_aar.xml
/libraries/Gradle__com_android_support_localbroadcastmanager_28_0_0_aar.xml
/libraries/Gradle__com_android_support_print_28_0_0_aar.xml
/libraries/Gradle__com_android_support_recyclerview_v7_28_0_0_aar.xml
/libraries/Gradle__com_android_support_slidingpanelayout_28_0_0_aar.xml
/libraries/Gradle__com_android_support_support_annotations_28_0_0.xml
/libraries/Gradle__com_android_support_support_compat_28_0_0_aar.xml
/libraries/Gradle__com_android_support_support_core_ui_28_0_0_aar.xml
/libraries/Gradle__com_android_support_support_core_utils_28_0_0_aar.xml
/libraries/Gradle__com_android_support_support_fragment_28_0_0_aar.xml
/libraries/Gradle__com_android_support_support_vector_drawable_28_0_0_aar.xml
/libraries/Gradle__com_android_support_swiperefreshlayout_28_0_0_aar.xml
/libraries/Gradle__com_android_support_transition_28_0_0_aar.xml
/libraries/Gradle__com_android_support_versionedparcelable_28_0_0_aar.xml
/libraries/Gradle__com_android_support_viewpager_28_0_0_aar.xml
/libraries/Gradle__com_github_bumptech_glide_glide_3_7_0.xml
/libraries/Gradle__com_google_code_gson_gson_2_8_2.xml
/libraries/Gradle__com_jakewharton_butterknife_8_8_1_aar.xml
/libraries/Gradle__com_jakewharton_butterknife_annotations_8_8_1.xml
/libraries/Gradle__com_loopj_android_android_async_http_1_4_6.xml
/libraries/Gradle__com_mcxiaoke_volley_library_1_0_19.xml
/libraries/Gradle__de_greenrobot_eventbus_2_4_0.xml
/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_0_1_aar.xml
/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_1_0.xml
/libraries/Gradle__org_apache_http_legacy.xml
/libraries/Gradle__org_apache_httpcomponents_httpclient_android_4_3_5.xml
/libraries/Gradle__org_apache_httpcomponents_httpmime_4_3_6.xml
/libraries/Gradle__org_reactivestreams_reactive_streams_1_0_0.xml
/sonarlint/issuestore/index.pb
/../.gradle/4.6/javaCompile/jarAnalysis.bin
/jarRepositories.xml
/../.gradle/4.6/javaCompile/javaCompile.lock
/../.gradle/4.6/fileChanges/last-build.bin
/../local.properties
/misc.xml
/modules.xml
/../.gradle/buildOutputCleanup/outputFiles.bin
/../.gradle/4.6/fileHashes/resourceHashesCache.bin
/sonarIssues.xml
/../.gradle/4.6/javaCompile/taskHistory.bin
/../.gradle/4.6/taskHistory/taskHistory.bin
/../.gradle/4.6/taskHistory/taskHistory.lock
/../.gradle/4.6/javaCompile/taskJars.bin
/vcs.xml
